*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,input{
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
}


.container {
  display: grid;
  
  grid-template-areas: 
  'search-bar search-bar search-bar search-bar'
  'video-player video-player video-player video-list'
  'video-player video-player video-player video-list'
  'video-player video-player video-player video-list';
  
}

.search-bar {
  grid-area: search-bar;
  text-align: center;
  background: rgb(238, 237, 237);
}

.video-player {
  grid-area: video-player;
  background: #ebeae4;
}

.video-list {
  grid-area: video-list;
  background: #e9e8e4;
  padding: 15px;
}

.video-titulo {
  font-weight: 400;
  font-weight: 600;
  color: #4682B4;
  padding: 10px;
}

.video-descricao {
  padding: 10px;
  color: #0000CD;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
